# Temp Files #
##############
*.AppleDouble
*.AppleDB
*.AppleDesktop
*.DS_Store
Thumbs.db
*desktop.ini
*.Cache

# Build Folders #
#################
*/bin/*
*/obj/*

# Nuget #
#########
packages/*

# sln Files #
#############
*.suo
*.user